* {box-sizing: border-box
}

body {
    font-family: "Open Sans";
    margin: 5%
}

.topNav {
    background-color: black;
    overflow: hidden;
    margin-bottom: 20px;
}
         

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17;
}

.topnav a:hover{
    background-color: #dddd;
    color: black;
}

.banner {
    position: relative
}

.container .img {
    vertical-align: middle;    
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: #f1f1f1;
    width:460px;
    padding-left: 50;
    /*padding: 50px,50px,50px,50px;*/
    
}